*{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#appbar{
    background-color: #F44336;
    color: #FFFFFF;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.header-shadow{
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

body{
    background-color: #EEEEEE;
}

#results{
    width: 40%;
}